.footer {
  background-color: #f9e1e1;
  padding: 40px;
  font-family: Arial, sans-serif;
  color: #333;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  flex-wrap: wrap;
  margin-left: 100px;
}

.address {
  flex: 1;
  font-size: 16px;
  margin-right: 20px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: #ff7f7f;
}

.links {
  flex: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  margin-bottom: 20px;
}

.heading {
  font-size: 18px;
  color: #ff7f7f;
  margin-bottom: 15px;
}

.heading .ul{
    list-style: none;
  text-decoration: none;
}
.ul {
  padding: 0;
}

.ul .li {
  margin: 10px 0;
  font-size: 14px;

}

.footerBottom {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }

  .address {
    margin-right: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .links {
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: 100%;
    text-align: center;
  }

  .heading {
    font-size: 16px;
  }

  .ul .li {
    font-size: 13px;
  }

  .footerBottom {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .contact {
    padding: 20px;
  }

  .logo {
    font-size: 18px;
  }

  .heading {
    font-size: 14px;
  }

  .ul .li {
    font-size: 12px;
  }
}
